@import 'reset.css';
@import '_variable.scss';

// font
h1{font-size: 60px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
.big{font-size: 20px;}
.medium{font-size: 18px;}
.text{font-size: 16px;}
.small{font-size: 12px;}
.mini{font-size: 10px;}
.b{font-weight: bold;}
.sb{font-weight: 600;}
.mb{font-weight: 500;}
.n{font-weight: 400;}
@media all and (max-width: 1440px){
    h1{font-size: 54px;}
}
@media all and (max-width: 1280px){
    h1{font-size: 48px;}
}
@media all and (max-width: 1024px){
    h1{font-size: 48px;}
}
@media all and (max-width: 840px){
    h1{font-size: 5.6vw;}
    h2{font-size: 4.4vw;}
    h3{font-size: 4.2vw;}
    .big{font-size: 4vw;}
    .medium{font-size: 3.4vw;}
    .text{font-size: 3.2vw;}
}
@media all and (max-width: 480px){
    h1{font-size: 7.6vw;}
    h2{font-size: 6.4vw;}
    h3{font-size: 6vw;}
    .big{font-size: 5.6vw;}
    .medium{font-size: 4.8vw;}
    .text{font-size: 4.0vw;}
}

.body_wrap{font-family: $mainFont; line-height: 1.4; background-color: #000; color: #fff; overflow-x: hidden;}
button{cursor: pointer;}