@import 'reset.css';
@import '_variable.scss';

// font
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
.big{font-size: 20px;}
.medium{font-size: 18px;}
.text{font-size: 16px;}
.small{font-size: 12px;}
.mini{font-size: 10px;}
.bb{font-weight: bolder;}
.b{font-weight: bold;}
.sb{font-weight: 600;}
.mb{font-weight: 500;}
.n{font-weight: 400;}
@media all and (max-width: 840px){
    h1{font-size: 5.6vw;}
    h2{font-size: 5vw;}
    h3{font-size: 4.4vw;}
    .big{font-size: 4vw;}
    .medium{font-size: 3.6vw;}
    .text{font-size: 3.2vw;}
    .small{font-size: 2.8vw;}
    .mini{font-size: 2.6vw;}
}
@media all and (max-width: 480px){
    h1{font-size: 7.6vw;}
    h2{font-size: 7vw;}
    h3{font-size: 6.4vw;}
    .big{font-size: 5.8vw;}
    .medium{font-size: 5.4vw;}
    .text{font-size: 5.0vw;}
    .small{font-size: 4.8vw;}
    .mini{font-size: 4.6vw;}
}

.body_wrap{font-family: $mainFont; line-height: 1.4; background-color: #000; color: #fff;}
button{cursor: pointer;}