.footer_wrap{
    display: flex; flex-direction: column; gap: 20px; padding: 20px 60px; background-color: #000; color: $gray;
    button{cursor: pointer;}
    .footer_top{
        ul{
            display: flex; align-items: center;
            a{cursor: not-allowed;}
            &.sns_box{
                gap: 8px;
                .sns_btn{font-size: 20px; color: #fff;}
            }
            &.footer_menu_box{
                flex-wrap: wrap; margin-top: 12px;
                li{width: 25%;}
                .f_menu_btn{
                    padding: 8px 0;
                    &:hover{text-decoration: underline;}
                }
                @media all and (max-width: 480px){
                    li{width: 50%;}
                }
            }
        }
    }
    .footer_bottom{
        .servicecode_btn{padding: 8px 12px; border: 1px solid $gray; color: $gray; text-align: center;}
        .infomation_box{
            margin-top: 12px;
            p{display: flex; align-items: center; gap: 8px;}
            @media all and (max-width: 480px){
                p{flex-wrap: wrap; gap: 0;}
            }
        }
    }
    @media all and (max-width: 1280px){padding: 20px 40px;}
    @media all and (max-width: 1024px){padding: 20px 20px;}
    @media all and (max-width: 480px){padding: 20px 16px;}
}