.header_article{
    position: sticky; top: 0; left: 0; z-index: 10; display: flex; align-items: center; justify-content: space-between; padding: 8px 60px; background-color: #000; color: #fff; height: 56px;
    button{color: #fff; font-size: 16px;}
    .searchbar_btn_section{
        display: flex; align-items: center; gap: 20px;
        .searchbar_box{
            display: flex; gap: 8px;
        }
        .header_btn_box{
            display: flex; align-items: center; gap: 20px;
            .popup{
                position: absolute; top: 48px; right: -8px; background-color: #000; z-index: 2; border-bottom: 2px solid #fff; gap: 0;
                &::before{content: ""; position: absolute; top: -12px; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 12px solid #000;}
                &.alarm_box{
                    &::before{right: 40px}
                    width: 200px; height: 200px;
                    ul{
                        width: 100%;
                        li{
                            padding: 8px 12px; text-align: center; border-bottom: 1px solid gray;
                            &:last-child{border-bottom: none;}
                            &.no_alarm{border-bottom: none;}
                        }
                    }
                }
                &.profile_box{
                    &::before{ right: 8px;}
                    flex-direction: column; align-items: flex-start; width: 160px;
                    ul{
                        width: 100%; border-bottom: 1px solid gray;
                        a{padding: 8px 12px; width: 100%; border-bottom: 1px sold #fff;}
                    }
                    .logout_btn{padding: 8px 12px;}
                }
            }
        }
    }
    @media all and (max-width: 1280px){padding: 8px 40px;}
    @media all and (max-width: 1024px){padding: 8px 20px;}
    @media all and (max-width: 480px){
        padding: 8px 16px; width: 100%; 
        .searchbar_btn_section .searchbar_box{order: 2;}
    }
}