.movie_item{
    img{margin-bottom: 20px; width: 100%; height: 480px; object-fit: cover;}
    > div{
        display: flex; flex-direction: column; gap: 8px; width: 100%;
        .movie_btn_box{
            display: flex; align-items: center; justify-content: space-between;
            div{
                display: flex; gap: 8px;
            }
            button{
                width: 32px; height: 32px; border-radius: 20px; border: 2px solid #fff; color: #fff;
                &.movie_detail_btn{width: auto; height: auto; padding: 4px 12px;}
            }
        }
    }
    &.popular{
        display: flex; align-items: flex-end; flex-wrap: wrap; position: relative;  z-index: 1;
        .popular_num{
            margin-right: -16px; color: #000; position: absolute; z-index: -1; left: 36px; bottom: 77px; font-size: 200px; -webkit-text-stroke: 4px #fff; color: rgba(255, 255, 255, .32); letter-spacing: -20px;
            &.num_9{left: 8px;}
        }
        img{padding-left: 140px; height: 320px;}
    }
    @media all and (max-width: 1440px){
        img{height: 468px;}
        &.popular{
            .popular_num {
                bottom: 88px; left: 28px; font-size: 180px; -webkit-text-stroke: 3px #fff;
                &.num_0{left: 58px;}
            }
            img{padding-left: 120px; height: 300px; }
        }
    }
    @media all and (max-width: 1280px){
        img{height: 412px;}
        &.popular{
            .popular_num {
                bottom: 92px; left: 38px; font-size: 160px; -webkit-text-stroke: 3px #fff;
                &.num_0{left: 65px;}
            }
            img{padding-left: 120px; height: 240px; }
        }
    }
    @media all and (max-width: 1024px){
        img{height: 468px;}
        &.popular{
            img{height: 292px;}
        }
    }
    @media all and (max-width: 840px){
        img{height: 80dvh;}
        > div{
            .movie_btn_box{
                div{gap: 12px;}
                button{
                    width: 52px; height: 52px; border-radius: 52px;
                    &.movie_detail_btn{padding: 8px 20px; border-radius: 60px;}
                }
            }
        }
        &.popular{
            .popular_num {
                font-size: 24dvh; bottom: 11dvh; left: 8vw; -webkit-text-stroke: 5px #fff;
                &.num_0{left: 13vw;}
                &.num_9{left: 0;}
            }
            img{padding-left: 25vw; height: 56dvh;}
        }
        
    }
    @media all and (max-width: 768px){
        img{height: 88dvh;}
        &.popular{
            .popular_num{
                bottom: 12.4dvh; left: 8.8vw;
                &.num_0{left: 14vw;}
                &.num_9{left: 12px;}
            }
            img{height: 60dvh;}
        }
    }
    @media all and (max-width: 480px){
        img{height: 52dvh;}
        > div{
            .movie_btn_box{
                button{
                    width: 44px; height: 44px; border-radius: 44px;
                    &.movie_detail_btn{padding: 4px 16px; border-radius: 40px;}
                }
            }
        }
        &.popular{
            .popular_num{
                left: -8px !important; bottom: 23.6vw; z-index: 2; color: rgba(255,255,255,.6); -webkit-text-stroke: 4px #fff;
            }
            img{padding-left: 0; height: 52dvh;}
        }
    }
    @media all and (max-width: 390px){
        &.popular .popular_num{-webkit-text-stroke: 3px #fff; bottom: 25.4vw; left: -4px !important;}
        > div .movie_btn_box div{gap: 8px;}
    }
    @media all and (max-width: 375px){
        &.popular .popular_num{bottom: 29.4vw; -webkit-text-stroke: 2px #fff;}
    }
    @media all and (max-width: 360px){
        &.popular .popular_num{bottom: 30.6vw;}
    }
}
