.movie_section {
    margin-bottom: 60px;
    &:last-child{margin-bottom: 0;}
    h3{margin-bottom: 12px;}
    .swiper{
        .swiper-slide{flex-shrink: 0;  }
    }
    .swiper-button-prev, .swiper-button-next{
        width: 20px; height: 20px; margin-top: 0; top: calc(50% - 10px); color: #fff; z-index: 5;
        &::before{position: absolute; top: 0; left: 0; content: ''; border-top: 4px solid #fff; width: 100%; height: 100%;}
        &::after{display: none;}
    }
    .swiper-button-prev{
        left: 20px;
        &::before{border-left: 4px solid #fff; transform: rotate(-45deg);}
    }
    .swiper-button-next{
        right: 20px;
        &::before{border-right: 4px solid #fff; transform: rotate(45deg);}
    }
    @media all and (max-width: 1440px){
        .swiper-button-prev{left: 16px;}
        .swiper-button-next{right: 16px;}
    }
    @media all and (max-width: 1024px){
        .swiper-button-prev{left: 12px;}
        .swiper-button-next{right: 12px;}
    }
    @media all and (max-width: 480px){
        margin-bottom: 40px;
        .swiper-button-prev{left: 8px;}
        .swiper-button-next{right: 8px;}
    }
}