.movie_section {
    margin-bottom: 60px;
    &:last-child{margin-bottom: 0;}
    h2{margin-bottom: 12px;}
    .swiper{
        .swiper-slide{flex-shrink: 0;  overflow: visible !important;}
    }
    .swiper-button-prev, .swiper-button-next{
        width: 20px; height: 20px; margin-top: 0; top: calc(50% + 10px); color: #fff; z-index: 5;
        &::before{position: absolute; top: 0; left: 0; content: ''; border-top: 4px solid #fff; width: 100%; height: 100%;}
        &::after{display: none;}
    }
    .swiper-button-prev{
        left: 8px;
        &::before{border-left: 4px solid #fff; transform: rotate(-45deg);}
    }
    .swiper-button-next{
        right: 8px;
        &::before{border-right: 4px solid #fff; transform: rotate(45deg);}
    }
    @media all and (max-width: 1440px){
    }
    @media all and (max-width: 1024px){
    }
    @media all and (max-width: 480px){
        margin-bottom: 40px; 
    }
}

.fade_grid {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeMove 0.35s 0.45s cubic-bezier(0.24, 0.82, 0.22, 1) forwards;
}

@keyframes fadeMove {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie_section .swiper,
.movie_section .swiper-wrapper,
.movie_section .swiper-slide {
  overflow: visible !important;
}
