.search_results{
    padding: 0 60px 60px; min-height: calc(100dvh - 400px);
    > div{
        display: flex; flex-wrap: wrap; gap: 60px 20px;
        .movie_item{
            width: calc(20% - 16px);
        }
        &.no_search{
            display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 24px;
            svg{width: 80px; height: 80px;}
            @media all and (max-width: 1024px){
                gap: 20px;
                svg{width: 60px; height: 60px;}
            }
        }
    }
    @media all and (max-width: 1440px){
        > div{
            .movie_item{
                width: calc(25% - 15px);
            }
        }
    }
    @media all and (max-width: 1280px){
        padding: 28px 40px 0;
    }
    @media all and (max-width: 1024px){
        padding: 0 20px 0;
        > div{
            gap: 60px 16px;
            .movie_item{
                width: calc(33.3333% - 11px);
            }
        }
    }
    @media all and (max-width: 840px){
        padding: 0 20px 60px;
        > div{
            justify-content: center; gap: 0;
            .movie_item{
                width: 100%;
            }
        }
    }
    @media all and (max-width: 480px){
        padding: 0 16px 40px;
    }
}

.load-more-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.sentinel {
  height: 40px;
}
.result_count {
  margin-bottom: 40px; font-size: 24px;
  @media all and (max-width: 840px){
    font-size: 4.4vw;
  }
  @media all and (max-width: 480px){
    margin-bottom: 20px;
    font-size: 6.4vw;
  }
}

